@model List<LibreriaEuroFront.Models.AutorDTO>

@if (Model != null && Model.Any())
{
    <table class="table mt-4">
        <thead>
            <tr>
                <th>RUT</th>
                <th>Nombre Completo</th>
                <th>Fecha Nacimiento</th>
                <th>Ciudad Origen</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var autor in Model)
            {
                <tr>
                    <td>@autor.Rut</td>
                    <td>@autor.NombreCompleto</td>
                    <td>@autor.FechaNacimiento.ToString("dd/MM/yyyy")</td>
                    <td>@autor.CiudadOrigen</td>
                    <td>@autor.Mail</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-muted">No se encontraron autores.</p>
}
